<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.4/cloudinary-core-shrinkwrap.min.js" integrity="sha512-tRrUhjKg6n9eE2OxOkZ6pPITzcBOyaVQwYABomTDemvbGbJDxLKhL5iQikW3Ht4mwlDbb7/v0TjaLs7ymnQi/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
	<script src="https://kit.fontawesome.com/96d943cb0f.js" crossorigin="anonymous"></script>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '7Q7RV0OSPJ',
    apiKey: 'da8f289335c2b978c265f729c3cbaf77',
    siteId: '8308e6ac-7ca1-43ab-8ff2-2cdea8640fd8',
    branch: 'main',
    selector: 'div#search',
  });
</script>
  {% set css %}
    {% include "assets/css/normalize.css" %}
    {% include "assets/css/variables.css" %}
    {% include "assets/css/base-styles.css" %}
    {% include "assets/css/utilites.css" %}
    {% include "assets/css/site-header.css" %}
    {% include "assets/css/site-footer.css" %}
    {% include "assets/css/blog.css" %}
    {% include "assets/css/projects.css" %}

    {% if page.url == '/' %}
      {% include "assets/css/home-page.css" %}
    {% endif %}
    {% if page.url == '/contact/' %}
      {% include "assets/css/contact.css" %}
			{% endif %}
			{% if page.url == '/search/' %}
			{% include "assets/css/search.css" %}
    {% endif %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
	<div id="search"></div>
</head>
