---
layout: layouts/base.njk
section: search
---
<div class="page-container">
  <h1>{{title}}</h1>
  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}
  <hr>
  {{ layoutContent | safe }}

  {% set projectlist = collections.project %}
  {% include "components/search.njk" %}
</div>




